# Build Directories #
#####################
# Directories with built content - not needed
/bin
/build

# Gradle #
##########
# Ignores all gradle files
/.gradle

# Git Stuff #
#############
# Removes strange git stuff such as temporary markdown previews.
/.README.md.html

# Eclipse #
###########
# Project configuration should be handled by gradle
# Leaving .project so eclipse can detect gradle config
.classpath
.project
/.settings

# Idea #
########
# Idea project config
# Idea users should target the project as a gradle project
*.iml
/.idea

# Java #
########
# Error files
hs_err_pid*.log



